# Build results
WebBanHangOnline/bin/
WebBanHangOnline/obj/
WebBanHangOnline/out/
WebBanHangOnline/Debug/
WebBanHangOnline/Release/

# NuGet packages
packages/*
*.nupkg

# Visual Studio files
.vs/
*.user
*.suo
*.userprefs

# Logs
*.log

# Publish output
WebBanHangOnline/publish/
WebBanHangOnline/wwwroot/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# OS-specific files
.DS_Store
Thumbs.db
